:host {
  display: block;
}

#newsletter-popup { 
  text-align: center; 
  background: #878787 ;
  position: fixed;
  bottom: 10px;
  left: 1000px;
  right: 0px;
  z-index: 9999;
  font-size:14px; 
  line-height:20px;
  padding: 30px;
  opacity: 0.95;              
  width:500px ;   
  height: 325px;
 border-radius: 1em 3em;  
 
  }
 
#newsletter-popup p {
  font-size: 14pt;
  font-weight: 300;
  color: rgba(255,255,255,0.8);
  margin-top: 10px;
}

form button {            
  display: inline-block;
  background: #FFF;
  border-radius: 6px;
  text-decoration: none;
  font-size: 11pt;
  color: #333333;
  margin-top: 20px;
  display: flex; 
  justify-content: center; 
}

.hinweis span {
  font-size: 20pt;
  color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    line-height: 40px;
}
.news {    

   width: 64px;
   height: 64px;
  padding: 40px;
}