:host {
  display: block;
}

button {
  visibility: hidden;
  border: none;
  color: #fff;
  font-weight: lighter;
  font-size: 15pt;
  text-align: center;
  padding: 10px 25px;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #79bac1;
}
