/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /*Colors*/
}

sh-navbar {
  z-index: 200;
}

shop-slider {
  z-index: 1;
}

.center {
  width: 70%;
  margin: 0 auto;
  margin-top: 7rem;
}

.wrapper {
  margin-top: 3rem;
  display: flex;
  float: left;
}

shop-popup {
  clear: both;
  text-align: right;
}

.clear {
  clear: both;
}

h1 {
  font-weight: lighter;
  font-size: 40pt;
}
