:host {
  display: block;
}

div {
  background-color: #ffbd69;
  font-family: sans-serif;
  color: #202040;
  height: auto;
  width: auto;
  max-width: 350px;
  margin: 5px 5px;
  padding: 5px;
  border-radius: 25px;
  padding: 20px 15px;
}

img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

h1 {
  font-size: 28pt;
  font-weight: lighter;
  margin-left: 20px;
}

span {
  font-size: 20pt;
  text-align: right;
  font-weight: bold;
}

span:hover {
  cursor: pointer;
}
