:host {
  display: block;
}
a {
  float: left;
  overflow: hidden;
  color: #fefefe;
  text-align: center;
  padding: 25px 20px;
  font-size: 20pt;
  text-decoration: none;
  transition: 0.5s;
  font-weight: lighter;
}

a:hover {
  color: #afafaf;
}
