:host {
  display: block;
}

.bar {
  width: 100%;
  height: auto;
  background-color: #ff6363;
  display: flex;
  float: left;
  margin-bottom: 20px;
  padding-left: 15rem;
}

.nav-element {
  text-align: center;
  height: 100%;
  padding: auto 5px;
}

p {
  margin: 20px 15px;
  font-family: Helvetica, sans-serif;
  font-size: 24pt;
  color: #202040;
  font-weight: lighter;
  transition: all 0.5s ease-in;
  text-transform: uppercase;
}

p:hover {
  color: #543864;
  cursor: pointer;
}

img {
  margin-right: 20px;
  width: 70px;
}
