.slide {
	position: relative;
	width: 50%;
	border: 4px solid lavender;
	background-color: lavender;
}

img{
	text-align: center;
	width: 100%;
	height: auto;
}

.slide #left {
	position: absolute;
	top: 40%;
	left: 0;
}

.slide #right {
	position: absolute;
	top: 40%;
	right: 0;
}

.button {
	text-decoration: none;
	background-color: gray;
	color: white;
}